<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712397114595-qv3ncv2q1nvkqfd3dog58c7j8mhd0h78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712397114595-qv3ncv2q1nvkqfd3dog58c7j8mhd0h78</string>
	<key>API_KEY</key>
	<string>AIzaSyCS7EHu9M4TfydTNvi1zsLpnYuVJNGwql8</string>
	<key>GCM_SENDER_ID</key>
	<string>712397114595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-bbe1c</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-bbe1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712397114595:ios:638b85e0e6a04b0f2689d6</string>
</dict>
</plist>